* {
    main-color: #d9e2ea;
    secondary-color: #b5c2d2;
    third-color: #cdcdcd;
    selected-color: #7899b4;
}

.root {
    -fx-background-color: main-color;
    -fx-text-fill: main-color;
    -fx-control-inner-background: secondary-color;


    -fx-alignment: CENTER;
    -fx-font-size: 15;
}

.table-view {
    -fx-background-color: secondary-color;
}

.table-view .column-header {
    -fx-background-color: third-color;
}

.table-view .column-header-background .filler{
    -fx-background-color: third-color;
}

.button {
    -fx-background-color: third-color;
}

.tab {
    -fx-background-color: third-color;
}

.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: main-color;
}

.tab:selected{
    -fx-background-color: selected-color;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, main-color, transparent, main-color;
}







